*{
    margin:0;
    padding:0;
    }
    
  body, html{height:100%;}

body {
    background-color: #0E2431;
}

.container {
    background-color: #0E2431;
    border: 5px solid rgb(18, 102, 230);
    height: 300px;
    width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
   
}

h1 {
    text-align: center;
    color: white;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(18, 102, 230);

}

#output {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}
.foot{
    padding-top: 30px;
    background-color: rgb(18, 102, 230);
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    
}
.copy{
    text-align: center;
    color: white;
    margin: auto;
}
.bobo{
    margin-top: 1em;
    border: solid 5px rgb(18, 102, 230);
    border-radius: 250px 250px;
  
  
   
}
.bobodiv{
    text-align: center;
}

@media screen and (max-width:1200px)
{
    body 
    {
        margin: auto;
        
      width: 100%;
      padding: 0px;
    }
    .container
    {
        margin: auto;
        width: 80%;
        height: 40%;
     
      padding: 0px;
      
}
.foot
{
    bottom: 0;
    margin: auto;
}
#btn {
    margin: 50px auto;
    height: 40px;
    width: 180px;
    font-size: 22px;
    background-color: rgb(18, 102, 230);

}


}
@media screen and (max-width:750px)
{
    body
    {
        margin: auto;
      width: 100%;
      padding: 0px;
    }
    .container
    {
        margin: auto;
        width: 80%;
        height: 50%;
    }
    .foot
    {
        bottom: 0;
        margin: auto;
    }
    #btn {
        margin: 50px auto;
        height: 40px;
        width: 180px;
        font-size: 22px;
        background-color: rgb(18, 102, 230);
    
    }

    
}

@media screen and (max-width:600px)
{
    body
    {
        margin: auto;
      width: 100%;
      height: 100%;
      padding: 0px;
    }
    .foot
    {
        bottom: 0;
        margin: auto;
    }
    .container
    {
        margin: auto;
        width: 80%;
        height: 48%;
    }
    #btn {
        margin-top: 20px;
    }
    #output {
        margin-top: 30px;
    }


}